# Only ignore files produced by working as described in CONTRIBUTING.rst.
# For other untracked files, consider `git config status.showUntrackedFiles no`.
__pycache__
*.egg-info
.coverage
coverage.xml
.mypy_cache
.pytest_cache
.ruff_cache
.tox
venv*
sphinx/_build
build
dist
htmlcov
**/tests_argparse*
