fail_fast: true

ci:
  skip:
  - pycodestyle
  - pylint
  - tox
  - coverage

repos:

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: check-added-large-files
  - id: check-ast
  - id: check-case-conflict
  - id: check-docstring-first
  - id: end-of-file-fixer
  - id: mixed-line-ending
  - id: trailing-whitespace
    exclude: .bumpversion.cfg

- repo: https://github.com/pycqa/isort
  rev: 5.12.0
  hooks:
  - id: isort

- repo: https://github.com/PyCQA/autoflake
  rev: v2.0.1
  hooks:
  - id: autoflake

- repo: local
  hooks:

  - id: twine-check
    name: twine check [on bumpversion]
    entry: bash -c '
      if [ "${BUMPVERSION_NEW_VERSION+x}" = "" ]; then
        echo "$(tput setaf 6) Skipped, only runs when bumping version $(tput sgr0)";
      else
        ./setup.py bdist_wheel;
        twine check dist/*.whl;
      fi'
    language: system
    pass_filenames: false
    verbose: true

  - id: changelog-check
    name: changelog check [on bumpversion]
    entry: bash -c '
      if [ "${BUMPVERSION_NEW_VERSION+x}" = "" ]; then
        echo "$(tput setaf 6) Skipped, only runs when bumping version $(tput sgr0)";
      else
        CHANGELOG=$(grep -E "^v.+\..+\..+ \(....-..-..\)" CHANGELOG.rst | head -n 1);
        EXPECTED="v$BUMPVERSION_NEW_VERSION ($(date -u +%Y-%m-%d))";
        if [ "$CHANGELOG" != "$EXPECTED" ] && [ $(echo $BUMPVERSION_NEW_VERSION | grep -cE "[0-9.]+(\.dev|rc)[0-9]+") = 0 ]; then
          if [ $(grep -c "^v$BUMPVERSION_NEW_VERSION " CHANGELOG.rst) = 1 ]; then
            echo "Updating the date for v$BUMPVERSION_NEW_VERSION in CHANGELOG.rst";
            sed -i "s|^v$BUMPVERSION_NEW_VERSION .*|$EXPECTED|" CHANGELOG.rst;
            git add CHANGELOG.rst;
          else
            echo "Expected release in CHANGELOG.rst to be "$EXPECTED" or not have a definitive date.";
            exit 1;
          fi
        fi
      fi'
    language: system
    pass_filenames: false
    verbose: true

  - id: circleci-config-validate
    name: circleci config validate -c .circleci/config.yml
    entry: bash -c '
      if [ "$(which circleci)" = "" ]; then
        echo "$(tput setaf 6) Skipped, circleci command not found $(tput sgr0)";
      else
        circleci config validate -c .circleci/config.yml;
      fi'
    language: system
    files: .circleci/config.yml
    pass_filenames: false
    verbose: true

  - id: pycodestyle
    name: pycodestyle
    entry: pycodestyle --exclude=sphinx/conf.py,setup.py --ignore=E241,E265,E128,E266,E226,E722,E252,E231,W291,E303,E221,E402,E306,E704,E251,E301,W504,E302 --max-line-length=180
    language: system
    types: [python]
    verbose: true

  - id: pylint
    name: pylint
    entry: pylint
    language: system
    types: [python]
    verbose: true

  - id: tox
    name: tox --parallel
    entry: tox --parallel
    language: system
    pass_filenames: false
    verbose: true

  - id: doctest
    name: sphinx-build -M doctest sphinx sphinx/_build sphinx/index.rst
    entry: bash -c '
      if [ "$(which sphinx-build)" = "" ]; then
        echo "$(tput setaf 6) Skipped, sphinx-build command not found $(tput sgr0)";
      else
        sphinx-build -M doctest sphinx sphinx/_build sphinx/index.rst;
      fi'
    language: system
    pass_filenames: false
    verbose: true

  - id: coverage
    name: ./setup.py test_coverage
    entry: ./setup.py test_coverage
    language: system
    pass_filenames: false
    verbose: true
