version: 2.1

jobs:
  build:
    docker:
      - image: cimg/python:3.10
    steps:
      - checkout
      - run:
          name: Build wheel package
          command: |
            pip3 install -U build
            python3 -m build
      - persist_to_workspace:
          root: .
          paths:
            - ./dist/*.whl
            - ./dist/*.tar.gz
  test-py38: &test-py38
    docker:
      - image: cimg/python:3.8
    steps:
      - checkout
      - run:
          name: Test without optional dependencies
          command: |
            py=$(python3 --version | sed -r 's|.* 3\.([0-9]+)\..*|3.\1|')
            pip3 install .[coverage]
            pip3 uninstall -y argcomplete
            pytest --cov --cov-report=term
            mv .coverage coverage_py$py
      - run:
          name: Test with all optional dependencies
          command: |
            py=$(python3 --version | sed -r 's|.* 3\.([0-9]+)\..*|3.\1|')
            pip3 install .[test,all]
            pytest --cov --cov-report=term
            mv .coverage coverage_py${py}_all
      - run:
          name: Test without future annotations and all optional dependencies
          command: |
            py=$(python3 --version | sed -r 's|.* 3\.([0-9]+)\..*|3.\1|')
            sed -i '/^from __future__ import annotations$/d' jsonargparse_tests/test_*.py
            pytest --cov --cov-report=term
            mv .coverage coverage_py${py}_types
      - persist_to_workspace:
          root: .
          paths:
            - ./coverage_py*
  test-py313:
    <<: *test-py38
    docker:
      - image: cimg/python:3.13
  test-py312:
    <<: *test-py38
    docker:
      - image: cimg/python:3.12
  test-py311:
    <<: *test-py38
    docker:
      - image: cimg/python:3.11
  test-py310:
    <<: *test-py38
    docker:
      - image: cimg/python:3.10
  test-py39:
    <<: *test-py38
    docker:
      - image: cimg/python:3.9
  test-py310-pydantic-v1:
    docker:
      - image: cimg/python:3.10
    steps:
      - checkout
      - run:
          name: Test with pydantic<2
          command: |
            py=$(python3 --version | sed -r 's|.* 3\.([0-9]+)\..*|3.\1|')
            pip3 install .[coverage]
            pip3 install "pydantic<2"
            pytest --cov --cov-report=term jsonargparse_tests/test_dataclass_like.py
            mv .coverage coverage_py${py}_pydantic1
      - run:
          name: Test with pydantic>=2 importing from pydantic.v1
          command: |
            py=$(python3 --version | sed -r 's|.* 3\.([0-9]+)\..*|3.\1|')
            sed -i "s|import pydantic|import pydantic.v1 as pydantic|" jsonargparse_tests/test_dataclass_like.py
            sed -i "s|^annotated = .*|annotated = False|" jsonargparse_tests/test_dataclass_like.py
            sed -i "s|test_pydantic_types|_test_pydantic_types|" jsonargparse_tests/test_dataclass_like.py
            pip3 install "pydantic>=2"
            pytest --cov --cov-report=term jsonargparse_tests/test_dataclass_like.py
            mv .coverage coverage_py${py}_pydantic2
      - persist_to_workspace:
          root: .
          paths:
            - ./coverage_py*
  codecov:
    docker:
      - image: cimg/python:3.10
    steps:
      - checkout
      - attach_workspace:
          at: .
      - run:
          name: Upload code coverage
          command: |
            pip3 install -U coverage codecov-cli
            coverage combine coverage_py*
            coverage xml
            codecovcli \
              --fail-on-error \
              --token $CODECOV_TOKEN_JSONARGPARSE \
              --file coverage.xml
  test-py310-installed:
    docker:
      - image: cimg/python:3.10
    steps:
      - attach_workspace:
          at: .
      - run:
          name: Test without optional dependencies
          command: |
            pip3 install $(ls ./dist/*.whl)[test-no-urls]
            pip3 uninstall -y argcomplete
            python3 -m jsonargparse_tests
      - run:
          name: Test with all optional dependencies
          command: |
            pip3 install $(ls ./dist/*.whl)[test,all]
            python3 -m jsonargparse_tests
  publish-pypi:
    docker:
      - image: cimg/python:3.10
    steps:
      - attach_workspace:
          at: .
      - run:
          name: Publish Release on PyPI
          command: |
            pip3 install -U twine
            twine upload --username __token__ --password "${PYPI_TOKEN}" ./dist/*.whl ./dist/*.tar.gz

workflows:
  version: 2
  build-test-publish:
    jobs:
      - build: &buildreq
          filters: &tagfilter
            tags:
              only: /^v\d+\.\d+\.\d+.*$/
      - test-py38:
          <<: *buildreq
      - test-py313:
          <<: *buildreq
      - test-py312:
          <<: *buildreq
      - test-py311:
          <<: *buildreq
      - test-py310:
          <<: *buildreq
      - test-py39:
          <<: *buildreq
      - test-py310-pydantic-v1:
          <<: *buildreq
      - codecov:
          requires:
            - test-py313
            - test-py312
            - test-py311
            - test-py310
            - test-py39
            - test-py38
            - test-py310-pydantic-v1
      - test-py310-installed:
          <<: *buildreq
          requires:
            - build
      - publish-pypi:
          filters:
            branches:
              ignore: /.*/
            <<: *tagfilter
          context: pypi-upload-context
          requires:
            - codecov
            - test-py310-installed
