name: manual

on:
  workflow_dispatch:

jobs:

  tox-coverage-windows:
    runs-on: windows-2019
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: |
            3.8
            3.9
            3.10
            3.11
            3.12
      - run: pip install -e ".[dev,all]"
      - run: tox -- --cov=../jsonargparse --cov-append
      - uses: actions/upload-artifact@v4
        with:
          name: coverage
          path: jsonargparse_tests/.coverage
