name: manual

on:
  workflow_dispatch:
    inputs:
      OS:
        description: Operating System
        required: true
        type: choice
        options:
        - windows-2019
        - macOS-12

jobs:
  tox-coverage:
    runs-on: ${{ inputs.OS }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: |
            3.8
            3.9
            3.10
            3.11
            3.12
      - run: pip install -e ".[dev]"
      - run: tox -- --cov=../jsonargparse --cov-append
      - uses: actions/upload-artifact@v4
        with:
          name: coverage
          path: jsonargparse_tests/.coverage
          include-hidden-files: true
          if-no-files-found: error
